@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Damion&family=Eagle+Lake&family=Fondamento:ital@0;1&family=Italiana&family=MedievalSharp&family=Playwrite+DK+Uloopet+Guides&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

body {
    margin: 0;
}

.container {
    width: 100%;
    max-height: 100vh;
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #8d5682;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
}


.nav-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-side h2 {
    font-family: 'Urbanist';
    font-size: 40px;
    color: white;
    transition: transform 2s ease;
}

.nav-side h2:hover{
    transform: scale(1.05);
}

.nav-side a,
.nav-side h3 {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}

.nav-side a:hover {
    background-color: #ffffff5b;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    margin-left: 280px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
} 

.kpis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 35px;
}

.card-kpi {
    background-color: rgb(182, 125, 170, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 24px;
    padding: 25px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(141, 86, 130, 0.25);
    transition: 0.3s;
}

.card-kpi:hover {
    transform: translateY(-5px);
}

.kpi-info h3 {
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    margin: 0;
}

.kpi-info p {
    color: white;
    font-size: 38px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.kpi-icon {
    font-size: 45px;
    opacity: 0.8;
}

/* GRÁFICOS */
.graficos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grafico-card {
    background-color: white;

    border-radius: 25px;

    padding: 25px;

    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);

    height: 380px;

    display: flex;
    flex-direction: column;
}

.grafico-card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #5f3958;
    margin-bottom: 20px;
}

.grafico-card canvas {
    flex: 1;
    width: 100% !important;
    height: 280px !important;
}