@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Damion&family=Eagle+Lake&family=Fondamento:ital@0;1&family=Italiana&family=MedievalSharp&family=Playwrite+DK+Uloopet+Guides&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');


body {
    margin: 0;
    background-color: #eee;
}


.header {
    background-color: #c5a9c9;
    border-radius: 0 0 20px 20px;
}

.nav-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    font-family: 'Urbanist';
    font-size: 44px;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    color: #8d5682;
}

.logo img {
    width: 64px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-start {
    display: flex;
    gap: 30px;
}

.btn-start button {
    border: none;
    border-radius: 50px;
    width: 10rem;
    height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 550;
    background-color: #eee;
    color: #8d5682;
    box-shadow: 0px 2px 6px #58075e2d;
    cursor: pointer;
}

.top-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box h1 {
    font-family: 'Urbanist';
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 100px;
    margin: 0;
    color: #8d5682;
    margin-top: 10vh;
    text-align: center;
}

.top-box-text {
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.top-span1 {
    font-size: 20px;
    font-weight: 600;
}

.top-box-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 2rem;
    color: #8d5682;
    opacity: 95%;
    width: 100%;
}

.appeal a {
    color: #5a3e5c;
}

.appeal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appeal button {
    border: solid 1px #5a3e5cda;
    background-color: #58075e2d;
    color: #58075ea6;
    height: 2rem;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 20rem;
    border-radius: 20px;
    box-shadow: 0px 2px 6px #58075e2d;
    margin-top: 30px;
    margin-bottom: 10vh;
    cursor: pointer;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
}


.grid-imagens {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    margin-right: 50px;
}

.grid-imagens img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 30px;
    transition: 0.3s;
}

.grid-imagens img:hover {
    transform: scale(1.05);
}

.content-p {
    height: 600px;
    width: 100%;
    background: linear-gradient(#eee, #fbfcfd);
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.header-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-p h2 {
    color: #8d5682;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    margin-top: 20vh;
}

.header-p,
.card span {
    color: #8d5682;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.box-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px #58075e2d;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-icon {
    text-align: center;
}

.card-desc {
    text-align: center;
}

.card-desc p {
    font-family: Arial, Helvetica, sans-serif;
    color: #8d5682;
    display: flex;
    justify-self: center;
    text-align: center;
    width: 80%;
    line-height: 1.5rem;
}

.msg {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a3e5c;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.creator-msg h2 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-weight: 600;
}

.creator {
    font-family: 'Urbanist';
    margin-top: 40px;
}

.msg-box {
    background-color: #d6e7f7;
    width: 70vw;
    height: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 50px;
}

.msg-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.appeal-msg {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.appeal-msg button {
    border: solid 1px #5a3e5cda;
    background-color: #58075e2d;
    color: #5a3e5c;
    border-radius: 20px;
    box-shadow: 0px 2px 6px #58075e2d;;
    font-size: 14px;
    cursor: pointer;
}

.msg-text span {
    font-weight: 500;
}

.msg-photo img {
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-self: center;
}

.content-ch {
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.text-ch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 50%;
    text-align: center;
}

.text-ch h3 {
    color: #8d5682a8;
    font-weight: 600;
    font-family: 'Urbanist';
    font-size: 32px;
}

.text-ch h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #97658e;
    font-size: 32px;
}

.text-ch h1 {
    font-family: 'Urbanist';
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 100px;
    margin: 0;
    color: #8d5682;
}

.text-ch span {
    font-family: Arial, Helvetica, sans-serif;
    color: #5a3e5c;
    width: 300px;
}

.form-box {
    background-color: #c5a9c99a;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 50px;
    margin-right: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a3e5c;
}

.top-form h3 {
    font-family: 'Urbanist';
    color: #eee;
    text-align: center;
    font-size: 32px;
}

.top-form span {
    color: #5a3e5cd6;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.ipt-form input {
    border: none;
    border-radius: 20px;
    width: 30vw;
    height: 2rem;
    color: #5a3e5c;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.txt-form textarea {
    border: none;
    border-radius: 20px;
    width: 30vw;
    height: 6rem;
    color: #5a3e5c;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button button {
    background-color: #5a3e5cd6;
    border: none;
    border-radius: 15px;
    color: #eee;
    font-size: 16px;
    width: 10rem;
    height: 3rem;
    margin-top: 10px;
}

.content-ctt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    margin-top: 50vh;
}

.ctt-info h3 {
    font-family: 'Italiana';
    font-size: 20px;
    text-shadow: 0px 5px 6px #b59ab8;
}

.ctt-info {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    color: #5a3e5cc9;
}

.footer {
    flex-direction: row;
    background-color: #c5a9c99a;
    width: 100%;
}

.content-f img {
    width: 50px;
    height: 50px;
}

.content-f {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.marca {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Urbanist';
    color: #8d5682;
}

.d-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000009e;
    font-weight: 550;
    line-height: 2rem;
}

.d-contato span:first-of-type {
    font-size: 20px;
}

.quick-access span {
    text-align: center;
    line-height: 2rem;
}

.quick-access span,
a {
    font-family: Arial, Helvetica, sans-serif;
    color: #0000009e;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.quick-access li {
    line-height: 2rem;
}

.quick-access ul {
    text-decoration: none;
    list-style: none;
}

.c-icon img {
    width: 30px;
    height: 30px;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000009e;
    font-weight: 550;
    font-size: 16px;
}


.redes {
    display: block;
}